.col-5{
background: blue;
}

.col-content{
   text-align: justify;
   padding-left: 10%;
   padding-right: 10%;

}
.rows{
   /* display: flex; */
  height: 700px;
}
p {
   margin-top: 0;
   margin-bottom: 1rem;
  
}
